body
{
background:url('https://lh3.googleusercontent.com/proxy/FR13wC3qfJLC4wWAqHACyufUndRGkKAlDh5c1BhKovse5gFTRcCGKuzvU6YlMYQJNG9JusjN4u8tueGrRK7D24fTlWYLKnmtQVcqJkKLCjlqR0_8') no-repeat center center;
background-size:cover;
color:white;		
}
.titre
{
color:black;
font-size:50px;
text-align:center	
}
.download
{
color:red;
font-size:30px;
text-align:center	
}
.image
{

text-align:center	
}
.image1
{

text-align:left	
}