body
{
background:url('image/logokodi.gif') no-repeat center center;
background-size:cover;
color:white;		
}
.titre
{
color:black;
font-size:50px;
text-align:center	
}
.download
{
color:red;
font-size:30px;
text-align:center	
}
.image
{

text-align:center	
}
.image1
{

text-align:left	
}